/******************************************************************************\
|      CONTENT                                                                 |
|                                                                              |
|  These rules determine how particular elements of the site look.             |
|  For "universal" rules, go to GENERAL, and for where things should be,       |
|  and how big they should be, go to LAYOUT.                                   |
|  This file could be split into further smaller parts, if necessary.          |
|                                                                              |
\******************************************************************************/


//  HEADER
//
header {
  background-color: $header-bg-color;
  background-image:
    background-circle(20px, 1250px, 15px, rgba(240,240,50,0.5)),
    background-circle(75px, 900px, 200px, rgba(100,200,100,0.25)),
    background-circle(55px, 300px, 150px, rgba(175,175,75,0.25)),
    background-circle(200px, 1700px, 50px, rgba(100,100,50,0.25));
  box-shadow:
    0px 3px 4px 0px rgba(0,0,0,0.2),
    inset 0px 0px 30px 5px rgba(0,0,0,0.1);
}

@media screen and #{$br-large}, screen and #{$br-medium} {
  header::before {
    //  Since the fold will be a diagonal line, we need to calculate
    //  how long the side actually is:
    $width: $header-main-width-difference * $SQRT2;

    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: $width * -1;

    height: $header-height;
    width: $width;

    background-color: darken($header-bg-color, 5%);

    transform-origin: right;
    transform: rotateY(135deg) skewY(-20deg);

    z-index: -1;
  }

  .start header::before,
  .start-anim header::before {
    display: none;
  }
}

header h1,
header h2 {
  margin: 0;
  font-weight: 300;
  color: rgba(255,255,255,1.0);

  font-family: 'Quicksand';
}

.name {
  font-size: $name-height;
  line-height: header-line-height($name-height);

  letter-spacing: -0.1em;
}

.occupation {
  font-size: $occupation-height;
  line-height: header-line-height($occupation-height);

  letter-spacing: -0.1em;
}

@media screen and #{$br-small} {
  .name {
    font-size: 58px;
    line-height: header-line-height(58px);
  }

  .occupation {
    font-size: 46px;
    line-height: header-line-height(46px);
  }
}

@media screen and #{$br-xsmall} {
  .name {
    font-size: 42px;
    line-height: header-line-height(42px);
  }

  .occupation {
    font-size: 32px;
    line-height: header-line-height(32px);
  }
}


//  MAIN
//
main {
  background-color: white;
  box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);
}

main h3,
main p {
  font-size: 1.2rem;
  color: rgba(0,0,0,1.0);

  margin-top: 1.75em;
  margin-bottom: 1.15em;
}

main h3 {
  font-size: 1.25rem;
  font-weight: 400;
}

main p {
  font-size: 1.2rem;
  font-weight: 300;
}

.skills-list {
  list-style: none;
}

.skill {
  margin: 0.5rem 0;
}

.skill-big {
  font-size: 1.45rem;

  color: rgba(0,0,0,0.85);
}

.skill-medium {
  font-size: 1.2rem;

  color: rgba(0,0,0,0.8);
}

.skill-small {
  font-size: 0.95rem;

  color: rgba(0,0,0,0.75);
}
