/******************************************************************************\
|      GENERAL                                                                 |
|                                                                              |
|  These are the rules that apply to all the generic, universal elements,      |
|  across the entire site.                                                     |
|  For specific classes, or things that only apply to some parts of the site,  |
|  go to CONTENT.                                                              |
|                                                                              |
\******************************************************************************/


* {
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(0,0,0,0.8);
  color: rgba(255,255,255,0.9);
}

html {
  font-family: 'Lato', sans-serif;
  font-weight: 300;

  @media screen {
    font-size: 20px;
    background-color: rgb(230,230,230);
  }

  @media screen and #{$br-small} {
    font-size: 18px;
  }

  @media screen and #{$br-xsmall} {
    font-size: 16px;
  }

  @media print {
    font-size: 12pt;
  }
}

a {
  @media screen {
    color: $header-bg-color;
    text-decoration: none;

    &:hover {
      color: lighten($header-bg-color, 5%);
      text-decoration: underline;
    }
  }

  @media print {
    color: black;
    text-decoration: none;

    &::after {
      content: ': <' attr(href) '>';
    }
  }
}
