/******************************************************************************\
|      LAYOUT                                                                  |
|                                                                              |
|  This file determines where the various elements of the site should be.      |
|  Note that the same element can appear here and in CONTENT, but with         |
|  different rules applied.
|                                                                              |
\******************************************************************************/


body,
header,
main {
  box-sizing: border-box;
}

//  Freaking margins collapsing, man:
body {
  position:relative;
  float: left;
  width: 100%;
}

@media screen and #{$br-large} {
  $header-width: $main-max-width + $header-main-width-difference * 2;

  header {
    position: absolute;
    top: $header-offset-top;
    left: calc((100vw - #{$header-width}) / 2);

    height: $header-height;
    max-width: $header-width;
    width: 100%;
    padding: $header-padding-top $header-padding-horizontal $header-padding-bottom;
  }

  main {
    max-width: $main-max-width;
    width: 100%;
    margin: 0 auto;
    margin-top: $header-offset-top - $main-height-over-header;
    margin-bottom: 50px;

    padding: $main-padding;
    padding-top: 10px + $header-height + $main-height-over-header;
    padding-bottom: 50px;
  }

  //  <body> element:
  .start,
  .start-anim {
    $arrow-color: rgba(0,0,0,0.55);
    $arrow-size: 18px;
    $hints-transition-time: 0.05s;

    //  This needs to be reflected in main.js:
    $transition-time: 1s;

    overflow: hidden;

    &::before {
      content: 'Click to scroll';
      position: fixed;
      bottom: 100px + $arrow-size + 16px;
      right: 0;

      width: 100%;

      text-align: center;
      color: rgba(0,0,0,0.4);

      transition: opacity $hints-transition-time;
    }

    &::after {
      content: '';
      position: fixed;
      bottom: 100px;
      right: calc((100vw - #{$arrow-size * 2}) / 2);

      width: 0;
      height: 0;

      border: $arrow-size solid;
      border-color: transparent $arrow-color $arrow-color transparent;

      transform: rotate(45deg);

      transition: opacity $hints-transition-time;
    }

    header {
      transition: transform $transition-time, max-width $transition-time;

      z-index: 10;
    }

    main {
      transition: transform $transition-time;
    }
  }

  .start {
    cursor: pointer;

    header {
      max-width: 100vw;
      width: 100vw;

      transform:
        translateX(calc((100% - #{$header-width}) / 2 * -1))
        translateY(calc((100vh - #{$header-height}) / 2 - #{$header-offset-top}));
    }

    main {
      transform: translateY(100vh);
    }
  }

  .start-anim {
    &::before,
    &::after {
      opacity: 0;
    }
  }
}

@media screen and #{$br-medium} {
  body {
    padding: 0 #{$body-padding + $header-main-width-difference};
  }

  header {
    position: absolute;
    top: $header-offset-top;
    left: $body-padding;

    height: $header-height;
    max-width: calc(100% - #{$body-padding} * 2);
    width: 100%;
    padding: $header-padding-top $header-padding-horizontal $header-padding-bottom;
  }

  main {
    width: 100%;
    margin: 0 auto;
    margin-top: $header-offset-top - $main-height-over-header;
    margin-bottom: 50px;

    padding: $main-padding;
    padding-top: 10px + $header-height + $main-height-over-header;
    padding-bottom: 50px;
  }
}

@media screen and #{$br-small} {
  body {
    background-color: white;
  }

  header {
    padding: 15px;
    padding-top: 130px;
  }

  main {
    padding: 50px;
    padding-top: 0;

    overflow: auto;
  }
}

@media screen and #{$br-xsmall} {
  body {
    background-color: white;
  }

  header {
    padding: 15px;
    padding-top: 100px;
  }

  main {
    padding: 20px;
    padding-top: 0;

    overflow: auto;
  }
}
