@function header-line-height($font-height) {
  @return $font-height * 1.2;
}

@function background-circle($size, $x, $y, $color) {
  @return radial-gradient($size at $x $y, $color 0px, $color $size, transparent $size + 1);
}



$name-height: 88px;
$occupation-height: 60px;
$header-padding-top: 150px;
$header-padding-bottom: 15px;
$header-padding-horizontal: 35px;
$header-height:
  header-line-height($name-height) +
  header-line-height($occupation-height) +
  $header-padding-top +
  $header-padding-bottom;
$header-offset-top: 50px;
$header-bg-color: rgb(86,108,251);
$header-main-width-difference: 50px;
$main-max-width: 1100px;
$main-height-over-header: 15px;
$main-padding: 50px;



html {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  background-color: rgb(230,230,230);
}

body {
  overflow: auto;

  padding: 0 50px;
}

header {
  $width: $main-max-width + $header-main-width-difference * 2 + $header-padding-horizontal * 2;

  position: absolute;
  top: $header-offset-top;
  left: calc((100% - #{$width}) / 2);

  height: $header-height;
  max-width: $width;
  width: 100%;
  padding: $header-padding-top $header-padding-horizontal $header-padding-bottom;

  background-color: $header-bg-color;
  background-image:
    background-circle(20px, 1250px, 15px, rgba(240,240,50,0.5)),
    background-circle(75px, 900px, 200px, rgba(100,200,100,0.25)),
    background-circle(55px, 300px, 150px, rgba(175,175,75,0.25)),
    background-circle(200px, 1700px, 50px, rgba(100,100,50,0.25));

  box-shadow:
    5px 5px 10px 0px rgba(0,0,0,0.2),
    inset 0px 0px 30px 5px rgba(0,0,0,0.1);

  box-sizing: border-box;
}

header::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -$header-main-width-difference;

  height: $header-height;
  width: $header-main-width-difference;

  background-color: darken($header-bg-color, 2.5%);

  transform-origin: right;
  transform: rotateY(135deg) skewY(-20deg);

  z-index: -1;
}

header h1,
header h2 {
  margin: 0;
  font-weight: 300;
  color: rgba(255,255,255,0.9);

  font-family: 'Quicksand';
}

.name {
  font-size: $name-height;
  line-height: header-line-height($name-height);

  letter-spacing: -0.1em;
}

.occupation {
  font-size: $occupation-height;
  line-height: header-line-height($occupation-height);

  letter-spacing: -0.1em;
}


.skill-big {
  font-size: 1.7rem;

  color: rgba(0,0,0,0.6);
}

.skill-small {
  font-size: 1rem;

  color: rgba(0,0,0,0.4);
}

main {
  max-width: $main-max-width + $main-padding * 2;
  width: 100%;
  margin: 0 auto;
  margin-top: $header-offset-top - $main-height-over-header;

  padding: $main-padding;
  padding-top: $main-padding + $header-height + $main-height-over-header;

  background-color: white;

  box-sizing: border-box;

  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}
